pkgbase = funst-git
	pkgdesc = daemon that extracts and modaly display the album art from the songs playing in mpd
	pkgver = 20211024
	pkgrel = 1
	url = https://github.com/tyjak/funst
	arch = any
	license = MIT
	makedepends = git
	depends = sxiv
	depends = imagemagick
	depends = bash
	depends = ffmpeg
	depends = mpc
	depends = dunst
	provides = funst
	source = git+https://github.com/tyjak/funst.git
	md5sums = SKIP

pkgname = funst-git
